params {
    project = 'vp91'
}
 
// Enable use of Singularity to run containers
singularity {
    enabled = true
    autoMounts = true
    //cacheDir = '~/.singularity/cache'
}



executor {
    queueSize = 300                 // Submit up to 300 concurrent jobs (Gadi exec max)
    pollInterval = '1 min'          // pollInterval and queueStatInterval of every 5 minutes
    queueStatInterval = '1 min'
    submitRateLimit = '20 min'      // submitRateLimit of 20 per minute
}

process {
    executor     = 'pbspro'
    project      = params.project
    storage      = 'scratch/params.project'
    module       = 'singularity'
    cache        = 'lenient'
    stageInMode  = 'symlink'
    queue        = 'normal'
    beforeScript = 'module load singularity'

    cpus         = 48
    time         = '5 min'
    memory       = 190.GB
}